[Unit]
Description=Jack audio server 
After=sound.target

[Install]
WantedBy=multi-user.target

[Service]
User=snappi
Type=simple
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
EnvironmentFile=-/etc/default/jackd
EnvironmentFile=-/etc/snappi.conf
ExecStart=/usr/bin/jackd $JACKD_OPTS -r${SNAPPI_SAMPLERATE}
Restart=always
RestartSec=2s

