[Unit]
Description=Snapcast client
Wants=avahi-daemon.service
After=network-online.target time-sync.target audio.target avahi-daemon.service

[Service]
EnvironmentFile=-/etc/default/snapclient
ExecStart=/usr/bin/snapclient --logging.sink=system $SNAPCLIENT_OPTS
User=snappi
Group=audio
Restart=always
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity

[Install]
WantedBy=multi-user.target


