[Unit]
Description=Snapcast server
Wants=avahi-daemon.service
After=network-online.target time-sync.target avahi-daemon.service

[Service]
PermissionsStartOnly=true
EnvironmentFile=/etc/default/snapserver
ExecStartPre=/usr/bin/install -o snappi -g audio -d /var/lib/snapserver
ExecStart=/usr/bin/snapserver --logging.sink=system $SNAPSERVER_OPTS
User=snappi
Group=audio
Restart=always
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity

[Install]
WantedBy=multi-user.target

