[Unit]
Description=Snappi Server Config
Before=network-pre.target snapserver.service
Wants=network-pre.target

[Service]
Type=oneshot
EnvironmentFile=/etc/snappi.conf
ExecStart=/usr/bin/snappiserver-config.py

[Install]
WantedBy=network.target

