[Unit]
Description=Snappi Server Config
Before=network-pre.target jackd.service jacktrip.service snapserver.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python -m snappiserverconfig

[Install]
WantedBy=network.target

