[Unit]
Description=Snappi Server Config
Before=network-pre.target jacktrip.service snapserver.service uac2.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/snappi_server_config update

[Install]
WantedBy=network.target

