[Unit]
Description=Snappi UAC2 Service
Before=snapserver.service snappi-server-config-startup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/uac2.sh

[Install]
WantedBy=multi-user.target


